/*
Theme Name:   Nisarg Child
Theme URI:    
Description:  Nisarg child theme
Author:       Phillip Salazar
Author URI:   https://wordpress.org/
Template:     nisarg
Version:      1.0.0
Text Domain:  nisargChild
*/

p {
    font-size: 18px;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    color: #ffffff !important;
}

a:hover, a:focus {
    color: #C19A6B !important;
}

.wp-block-post-excerpt__excerpt {
    font-size: 21px;
}

.entry-summary {
    font-size: 21px;
}

h2 {
    font-size: 36;
}

.widget-title::after {
    background-color: #C19A6B !important;
}

.entry-header .entry-meta::after {
    background-color: #C19A6B !important;   
}

.fa {
    color: #C19A6B !important;
} 

.wp-block-search__button .wp-element-button {
    color: white;
}